.App {
  text-align: center;
  margin-top: 20vh;
  justify-content: center;
}

.App-logo {
  height: 80px;
}

.App-header {
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
  color: #222;
}

.App-intro {
  font-size: large;
  font-weight: 100;
  color: rgba(44,62,80,0.6);
  max-width: 580px;
  display: inline-table;
  margin: 3px;
}

header.App-btn {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  border: none;
  font-family: inherit;
  font-size: 12px;
  cursor: pointer;
  padding: 17px;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;
  outline: none;
  position: relative;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  background: #2e91db;
  color: #fff;
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
  border-radius: 5px;
}

h3.title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 730;
  color: #fff;
  padding: 20px;
  background: linear-gradient(to top,#2e91db 0%,#3375BB 100%);
}

h2.categories {
  margin-left: 10px;
  margin-top: 10px;
  padding-top: 5px;
  font-weight: 700;
  font-size: 22px;
  color: #2C3E50;
  text-transform: capitalize;
  letter-spacing: 1.2px;
}

.media-body {
  margin-left: 8px;
  -ms-flex: 1;
  flex: 1 1;
  line-height: 20px;
  font-size: 15px;
  font-weight: 300;
  color: rgba(44,62,80,0.6);
}

h4.media-heading {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 1px;
}

a {
  color: #233240;
  opacity: 0.9;
  text-decoration: none;
  background-color: transparent;
}

a:hover {
  color: #233240;
  opacity: 0.75;
  text-decoration: none;
}

img {
    vertical-align: middle;
    border-style: none;
    width: 50px;
    height: auto;
}

.mt-1.align.media {
    padding-bottom: 5px;
}

a.media-left.media-bottom {
    margin-left: 10px;
}