.App {
  text-align: center;
  margin-top: 20vh;
  justify-content: center;
}

.App-logo {
  height: 80px;
}

.App-header {
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
  color: #222;
}

.App-intro {
  font-size: large;
  font-weight: 100;
  color: #222;
  max-width: 510px;
  display: inline-table;
  margin: 3px;
}

header.App-btn {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  border: none;
  font-family: inherit;
  font-size: 12px;
  cursor: pointer;
  padding: 17px;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;
  outline: none;
  position: relative;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  background: #2e91db;
  color: #fff;
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
  border-radius: 5px;
}

h1.title {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
}

h2.categories {
  margin-left: 10px;
  margin-top: 13px;
}

.media-body {
    -ms-flex: 1;
    flex: 1 1;
    margin-top: 10px;
}

.mt-1.align.media {
    margin-left: 15px;
}