.App {
  text-align: center;
  margin-top: 20vh;
  justify-content: center;
}

.App-logo {
  height: 80px;
}

.App-header {
  height: 150px;
  color: white;
}

.App-title {
  font-size: 1.5em;
  color: #222;
}

.App-intro {
  font-size: large;
  font-weight: 100;
  color: rgba(44,62,80,0.6);
  max-width: 580px;
  display: inline-table;
  margin: 3px;
}

header.App-btn {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  border: none;
  font-family: inherit;
  font-size: 12px;
  cursor: pointer;
  padding: 17px;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;
  outline: none;
  position: relative;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  background: #2e91db;
  color: #fff;
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
  border-radius: 5px;
}

h3.title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 530;
  padding: 16px;
  font-size: 18px;
}

.DApp-desc {
  font-size: 13.5px;
  font-weight: 100;
  color: rgba(44,62,80,0.6);
  display: inline-table;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

h2.categories {
  margin-left: 10px;
  margin-top: 10px;
  padding-top: 12px;
  padding-bottom: 10px;
  font-weight: 550;
  font-size: 18px;
  color: #2C3E50;
  text-transform: capitalize;
  letter-spacing: 1.2px;
  border-bottom: 1px solid #f1f1f1;
}

.media-body {
  margin-left: 8px;
  -ms-flex: 1;
  flex: 1 1;
  line-height: 16px;
  font-size: 14px;
  font-weight: 300;
  color: rgba(44,62,80,0.6);
}

.media-block {
  border-radius: 10px;
  border-color: #FF5722;
  border-width: 2px;
  padding-top: 0px;
  margin-bottom: 10px;
}
.media-logo {
  width: 44px;
  vertical-align: middle;
  border-style: none;
  height: auto;
}

h4.media-heading {
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 1px;
  color: #233240;
}

dappItem {
  color: #233240;
  opacity: 0.9;
  text-decoration: none;
  background-color: transparent;
}

a:hover {
  opacity: 0.75;
  text-decoration: none;
}

.mt-1.align.media {
  padding-bottom: 5px;
}

a.media-left.media-bottom {
  margin-left: 10px;
}

.media-logo {
  border-radius: 6px;
}

.footer {
  padding: 10px;
  font-size: 14px;
  color: #6c757d;
}

.footer .contact-us {
  margin-top: 5px;
}

.footer .contact-us .contact-us-link {
  color: dodgerblue;
}

.contact-us-group {
  color: rgb(48, 39, 40);
  margin-top: 10%;
  line-height: 75px;
}

.contact-us-div {
  color: dodgerblue;
  padding: 15px;
}

/* Top Card grid style 
 
*/
.cards-row {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  margin-top: 10px;
  margin-bottom: -15px;
 
}

.cards-row::-webkit-scrollbar { width: 0; }

.card-body {
    flex-shrink: 0;
    flex-grow: 0;
    padding: 0;
    box-shadow: 2px 2px 40px -12px #999;
    border: 0px solid #f4f4f4;
    width: 150px;
    height: 215px;
    border-radius: 8px;
    margin-top:10px;
    margin-left: 10px;
    margin-right: 20px;
    margin-bottom: 14px;
}

.media-card-logo {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  width: 100%;
  height: 65%;
}

.card-body-title {
  padding-top: 1px;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 22px;
  text-align: center;
  color: #233240;
}

.card-body-description{
  margin: -23px 4px 4px 4px;
  line-height: 13px;
  border-radius: 10px;
  text-align: center;
  font-size: 11.8px;
  color: rgba(44,62,80,0.6);
}