.App {
  text-align: center;
}

.App-logo {
  height: 80px;
}

.App-header {
  margin-top: 18vh;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
  color: #222;
}

.App-intro {
  font-size: large;
  font-weight: 100;
  color: #222;
  max-width: 500px;
  display: inline-table;
  margin: 3px;
}

header.App-btn {
  margin-top: 22vh;
}

@media only screen and (max-width: 470px) {
  header.App-btn {
    margin-top: 30vh;
  }
}

button {
  border: none;
  font-family: inherit;
  font-size: 15px;
  cursor: pointer;
  padding: 15px;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  background: #2e91db;
  color: #fff;
  -webkit-transition: none;
  -moz-transition: none;
  transition: none;
  border-radius: 5px;
}

h1.title {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
}

h2.categories {
  margin-left: 10px;
  margin-top: 13px;
}

.media-body {
    -ms-flex: 1;
    flex: 1 1;
    margin-top: 10px;
}