* {
	background-color: #fff;
	text-decoration: none;
	font-family: -apple-system,BlinkMacSystemFont,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

.title a {
	color: white;
}